@model Plant_Box_Service.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        <div class="row">
            <div class="col-md-5">
                <div style="float:right; padding-top:10px">
                    <span class="preference_box" style="font-size:20px;">Email:</span>
                </div>
            </div>
            <div class="col-md-7">
                <div style="float:left">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-5">
                <div style="float:right; padding-top:10px">
                    <span class="preference_box" style="font-size:20px;">User Name:</span>
                </div>
            </div>
            <div class="col-md-7">
                <div style="float:left">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-5">
                <div style="float:right; padding-top:10px">
                    <span class="preference_box" style="font-size:20px;">Password:</span>
                </div>
            </div>
            <div class="col-md-7">
                <div style="float:left">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-5">
                <div style="float:right; padding-top:10px">
                    <span class="preference_box" style="font-size:20px;">Confirm Password:</span>
                </div>
            </div>
            <div class="col-md-7">
                <div style="float:left">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <center>
        <div style="padding-left:12%">
            <input type="submit" class="btn btn-primary" value="Register" />
        </div>
    </center>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
