@model Plant_Box_Service.Models.AdminViewModel
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-12" style="padding-top:3%">
        <div class="row">
            <div class="col-md-3" style="border:1px solid black">
                <center>
                    <h3>Admin Center</h3>
                </center>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-9">
                        <div class="text-center" style="padding-top:10px; float:right">
                            <h4>Todays Shipments:</h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="text-center" style="padding-top:10px; float:left">
                            <h4>@Html.Raw(Model.Shipments.Count())</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-8">
                        <div class="text-center" style="padding-top:10px; float:right">
                            <h4>Total Customers:</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-center" style="padding-top:10px; float:left">
                            <h4>@Html.Raw(Model.Customers.Where(c => c.AccountStatus == true).Count())</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-8">
                        <div class="text-center" style="padding-top:10px; float:right">
                            <h4>Monthly Income:</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-center" style="padding-top:10px; float:left">
                            <h4>$@Html.Raw(Model.Customers.Where(c => c.AccountStatus == true).Count() * 30).00</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3" style="border:1px solid black; height:800px">
        <center>
            <div style="padding-top:10%">
                @Html.ActionLink("To Do Shipments", "ToDoShipments", "Admin", new { @class = "btn btn-primary btn-large", style = "width:200px" })
            </div>
            <br />
            <br />
            <div>
                @Html.ActionLink("Add Tracking Hash", "UpdateTrackingHash", "Admin", new { @class = "btn btn-success btn-large", style = "width:200px" })
            </div>
        </center>
    </div>
    <div class="col-md-9" style="border:1px solid black; height:800px">
        <table class="table_scroll" style="width:100%; height:100%">
            <tr id="tr_line">
                <th style="width:10%">
                    @Html.LabelForModel("Name")
                </th>
                <th style="width:10%">
                    @Html.LabelForModel("Status")
                </th>
                <th style="width:10%">
                    @Html.LabelForModel("Mark as Shipped")
                </th>
            </tr>
            @foreach (var item in Model.Shipments)
            {
                <tr id="tr_line">
                    <td>
                        @Html.Raw(item.Customer.FirstName + " " + item.Customer.LastName)
                    </td>
                    <td>
                        @Html.Raw("Ready for Shipment")
                    </td>
                    <td>
                        @Html.ActionLink("Add Tracking Hash", "TrackingHashForm", "Admin", new { customerId = item.Customer.Id }, new { @class = "btn btn-warning btn-large", style = "width:200px" })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
